.formulario{
    box-sizing: border-box;
    background-color:#f6f6f6;;
    font-family: 'Times New Roman', Times, serif;
    padding: 0 1.5em;
    padding-bottom: 40px;
    color: rgb(0, 0, 0);
}

.content{
    max-width: 1170px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;

}
.brand{
    text-align: center;
    font-size: 38px;
    padding: 20px;

}
.brand span{
    color: #48daf6;
}
.wrapper{
    border-radius: 30px;
}
 

.content-wrapper > *{
    padding: 24px;
}

.content-form{
    background-color: rgb(255, 255, 255);
    border: 0.1px solid black;
}

.content-form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.content-form form .block{
    grid-column: 1 / 3;
}
.content-form form p{
    margin: 0;
    padding: 20px;
}


.content-form form button,
.content-form form input,
.content-form form textarea {
    width: 100%;
    padding: 10px;
    border: none;
    background: none;
    border-bottom: 1px solid rgb(34, 32, 32);
    outline: 0;
    color: rgb(252, 252, 252);
}

.content-form form button{
    background: #48daf6;
    color: black;
    border: 0;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 4%;
    width: 20%;
}
label {
    color: rgb(0, 0, 0);
}
.content-form form button:hover,
.content-form form button:focus{
 
    color: #fff;
    transition: background-color 1s ease-out;
}
.content-info{
    background-color: #000000dc;
}

.content-info h4,
.content-info ul,
.content-info p {
    text-align: center;
    margin: 0 0 1rem 0;
    color: #fff;
}

.content-info ul {
    list-style: none;
    padding: 0;
}
.content-info ul li i{
    padding: 7px;
}
 /* large screen */

@media (min-width: 700px){
    
    .content-wrapper{
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    .content-wrapper > * {
        padding: 2em;
    }
    .content-info h4,
    .content-info ul,
    .content-info p {
        padding: 1em;
        text-align: left;
    }
}



