.formulario{
    box-sizing: border-box;
    background-color: rgb(212, 216, 210);
    font-family: 'Times New Roman', Times, serif;
    padding: 0 1.5em;
    color: #fff;
}

.content{
    max-width: 1170px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;

}
.brand{
    text-align: center;
    font-size: 38PX;

}
.brand span{
    color: darkblue;
}
.content-wrapper{
    box-shadow: 0 0 20px 0 rgb(131, 129, 129);

}

.content-wrapper > *{
    padding: 24px;
}

.content-form{
    background-color: slateblue;
}

.content-form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.content-form form .block{
    grid-column: 1 / 3;
}
.content-form form p{
    margin: 0;
    padding: 20px;
}


.content-form form button,
.content-form form input,
.content-form form textarea {
    width: 100%;
    padding: 10px;
    border: none;
    background: none;
    border-bottom: 1px solid red;
    outline: 0;
    color: #fff;
}

.content-form form button{
    background: #d63031;
    color: black;
    border: 0;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 4%;
    width: 20%;
}
label {
    color: #fff;
}
.content-form form button:hover,
.content-form form button:focus{
    background-color: #d37f7f;
    color: #fff;
    transition: background-color 1s ease-out;
}
.content-info{
    background-color: rgb(161, 156, 156);
}

.content-info h4,
.content-info ul,
.content-info p {
    text-align: center;
    margin: 0 0 1rem 0;
    color: #fff;
}

.content-info ul {
    list-style: none;
    padding: 0;
}
.content-info ul li i{
    padding: 7px;
}
 /* large screen */

@media (min-width: 700px){
    .formulario{
        padding: 0 4rem;
    }
    .content-wrapper{
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    .content-wrapper > * {
        padding: 2em;
    }
    .content-info h4,
    .content-info ul,
    .content-info p {
        padding: 1em;
        text-align: left;
    }
}



