

/*icon */
.fa-html5 {
    color: #E54D26;
}
.fa-html5:before {
    content: "\f13b";
}
.fa-css3-alt {
    color: #3D8FC6;
}
.fa-css3-alt:before {
    content: "\f38b";
}
.fa-sass {
    color: #CC6699;
}
.fa-sass:before {
    content: "\f41e";
}
.fa-js-square {
    color: #F0DB4F;
}
.fa-js-square:before {
    content: "#f3b9";
}    
.fa-git-alt {
    color: #F34F29;
}
.fa-git-alt:before {
    content: "#f841";
} 
.fa-react:before {
    content: "#f41b";
}
.fa-react {
    color: #61DAFB;
}


.content{
    width: 80%;
    border: 1px solid #48daf6;; 
    border-radius: 10px;
    display:flex;
    justify-content: center;
    padding: 30px;
    margin: 0;
    margin-left: 80px;
    
}
.formulario{
    box-sizing: border-box;
    background-color:#f6f6f6;;
    font-family: 'Times New Roman', Times, serif;
    padding-bottom: 50px;  
}
.brand{
    text-align: center;
    font-size: 38px;
    padding: 20px;
}

.brand span{
    color: #48daf6;
}

.content-info{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 20px;
    padding: 20px;
    margin-top: 0;

}
.content-form{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 0;
}
.pruebra{
   text-align: center;
}
.form-grupo {
    margin: 20px 35px 0 0px;  
}
.form-grupo input{
    padding-left: 15px;
    margin-bottom: 4px;
}
.form-grupo label{
    display: block;
    margin-bottom: 10px ;
}
.invalid{
    border: 1px solid red;

}
.error-hide {
    color: red;

}
.hidden{
    display: none;
}
.content-info h4,
.content-info ul,
.content-info p {
   
    margin: 0 0 10px 0;
    color: rgb(0, 0, 0);
}

.content-info ul {
    list-style: none;
    padding: 0;
}
.content-info ul li i{
    padding: 7px;
    margin: 0 5px 0 0;
}
.content-info ul li{
    padding: o 10px 0 0;
}
.content-form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.content-form form .block{
    grid-column: 1 / 3;
}
.content-form form p{
    margin: 5px;
    padding: 10px;
   
}


.content-form form button,
.content-form form input,
.content-form form textarea {
    width: 100%;
    padding: 10px;

    background: none;
   
    outline: 10px;
    color: rgb(0, 0, 0);
}

.content-form form button{

    background: #48daf6;
    border: 0;
    color: black;
    text-transform: uppercase;
    transition: all 0.5s;
    padding: 10px;
    width: 20%;
    cursor: pointer;
    border-radius: 10px;
}
label {
    color: rgb(0, 0, 0);
}
.content-form form button:hover,
.content-form form button:focus{
 
    color: #fff;
    
    
}



@media screen and (max-width: 725px){
    section{
        padding: 0;
    }
    .content{
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        width: 90%;
        margin: 5px;
       
    }
    .content-info {
        width: 90%;
    
    }
    .pruebra {
        text-align: center;
    }
    .content-info h2{
        text-align: center;
    }
    .content-form {
        width: 90%;
        margin-left: 0;
        align-items: center;
    }
    .content-form form button{
        width: 100%;  
    }
    
}

