/*section portafolio*/

#section-portafolio{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}

.portafolio p {
    width: 50%;
    padding: 20px;    
    margin: auto;
    padding-bottom: 30px;
}
h4{
    margin: 0;
    padding: 0;
}
.grid{
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    margin: auto;
    padding-left: 200px;
}
.card { 
    width: 200px;
    height: 200px;
    background-color: white;
    border-radius: 20px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px;
    transition-duration: 0.5s
}
.icon-card {
    font-size: 80px;
    margin-bottom: 10px;
}

.fa-html5 {
    color: #E54D26;
}
.fa-html5:before {
    content: "\f13b";
}
.fa-css3-alt {
    color: #3D8FC6;
}
.fa-css3-alt:before {
    content: "\f38b";
}
.fa-sass {
    color: #CC6699;
}
.fa-sass:before {
    content: "\f41e";
}
.fa-js-square {
    color: #F0DB4F;
}
.fa-js-square:before {
    content: "#f3b9";
}    
.fa-git-alt {
    color: #F34F29;
}
.fa-git-alt:before {
    content: "#f841";
} 
.fa-react:before {
    content: "#f41b";
}
.fa-react {
    color: #61DAFB;
}
   
.portafolio-item-box img {
    object-fit: contain;
    width: 100px;
    height: 100px;
    align-items: center;
  
}
