body{
    margin: 0;
    border: 0p;
    box-sizing: border-box;
    background:#f6f6f6;
    font-family: sans-serif;
    font-size: 14px;
}

#contenedorportada{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0px 10px;
    padding: 120px;
   

}
#fotoPerfil img{
    border-radius: 3%;
 
}
.titulo{
    width: 40%;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    display: 80px;
    padding: 30px 0 0 80px;
    /*line-height: 60px;*/
}    
#fotoPerfil{
    width: auto;
    height: 400px;
    text-align: center;
    padding-left: 0px;
    
}

#navegador  ul  {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    padding-right: 130px;
    padding-top: 15px;
}

#navegador{
    width: 100%;
    background-color: #dbdad9;
    position: fixed;
    top: 0px;
    height: 70px;
}

#navegador  ul li a {
    text-decoration: none;
    padding: 15px 15px;
    color: black;
}

#navegador li a:hover{
    background-color:#f6f6f6;
}

.name-title{
    font-size: 40px;
    font-family: sans-serif;
    text-align: left; 
}
.name-title strong{
    color: brown;
    margin: 10px;
}

/*section acerca */

#container-acerca{
    text-align: left;
    margin: 20px 20px;
}
#button {
    color: rgb(0, 0, 0);
    padding: 15px;
    font-weight: bold;
    background-color: rgb(255, 254, 254);
    border-radius: 10px;
    border: 0.5px solid rgb(0, 0, 0);
    text-decoration: none;   
    width: 20%;
}

#button:hover {
    background-color:#dbdad9af;
}


/* section contacto*/

#section-contacto{
    text-align: center;
}
.section-contacto{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
   
}

.items-contacto {
    display: flex;
    flex-direction: row;
    justify-content:center;
    margin: 40px 40px;  
}

.items img {
    display: block;
    text-align: center;
    width: 250px;
    height: 150px;
    margin: 10px 10px;
    padding:10px;
}
.items a{
    text-decoration: none;
    color: black;
}

.tems{
    transition: transform 0.2s;
}
.items :hover{
    transform: scale( 1.2, 1.2);
 
}
 