body{
    margin: 0;
    border: 0p;
    box-sizing: border-box;
    background:#f6f6f6;
    font-family: sans-serif;
    font-size: 14px;
}

#contenedorportada{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0px 20px;
    padding-top: 80px;
    margin-bottom: 20px;
}
#fotoPerfil img{
    border-radius: 3%;
 
}
#titulo{
    width: 100%;
    height: 500px;
    
}    
#fotoPerfil{
    width: auto;
    text-align: center;
}

#navegador  ul  {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    padding-right: 40px;
}

#navegador{
    width: 100%;
    background-color: #dbdad9;
    position: fixed;
    top: 0px;
}

#navegador  ul li a {
    text-decoration: none;
    padding: 15px 15px;
    color: black;
}

#navegador li a:hover{
    background-color:#f6f6f6;
}

.name-title{
    font-size: 40px;
    font-family: sans-serif;
    text-align: center;
   
}

/*section acerca */

#container-acerca{
    text-align: left;
    margin: 20px 20px;
}
#button {
    color: rgb(0, 0, 0);
    padding: 15px;
    font-weight: bold;
    background-color: rgb(255, 254, 254);
    border-radius: 10px;
    border: 0.5px solid rgb(0, 0, 0);
    text-decoration: none;   
}

#button:hover {
    background-color:#dbdad9af;
}



/*section portafolio*/

#section-portafolio{
    align-items: center;
    text-align: center;
}

#contenedor-portafolio{
    column-count: 4;
    column-gap: 10px;
    column-fill: auto;
    width: 60%;
    margin: 20px auto;
    align-content: center;
}

.portafolio-item-box { 
    border: 0.5px solid rgb(0, 0, 0);
    border-radius: 5%;
    overflow: hidden;
    margin: 10px;
}

.portafolio-item-box img {
    object-fit: contain;
    width: 100px;
    height: 100px;
    align-items: center;
  
}


/* section contacto*/

#section-contacto{
    text-align: center;
}
.section-contacto{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
   
}

.items-contacto {
    display: flex;
    flex-direction: row;
    justify-content:center;
    margin: 40px 40px;  
}

.items img {
    display: block;
    text-align: center;
    width: 250px;
    height: 150px;
    margin: 10px 10px;
    padding:10px;
}
.items a{
    text-decoration: none;
    color: black;
}

.tems{
    transition: transform 0.2s;
}
.items :hover{
    transform: scale( 1.2, 1.2);
 
}
 /* footer */
 
.footer{
    padding: 40px 0;
    background-color: bisque;
}
.footer .social{
    text-align: center;
    padding-bottom: 24px;
    color:rgb(126, 122, 122);
}

.social a{
    font-size: 24px;
    color: inherit;
    border: 1px solid black;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display:inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 0.75;
}
.social a:hover{
    opacity: 0.9;
}

.footer ul{
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}
.footer ul a{
    text-decoration: none;
    color: black;
}
.footer ul li{
    display: inline-block;
    padding: 0 15px;

}
.foote ul li a:hover{
    opacity: 6;
}
.footer .copyright{
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: rgb(201, 198, 198);
}